.donatecontainer {
    background-color: rgba(255, 255, 255, 0.551);
    height: auto;
    width: 100%;
    top:0;
    overflow: hidden;
    min-height: 100vh;
    
}

/* .bg-image {
    background-image: url("../images/heartinhand.jpg");
  filter: blur(50px);
  -webkit-filter: blur(10px);
  height: 90vh;
position: absolute;
width: 100%;
z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
} */
.Dh {
    font-size: 20pt;
}

.category-h {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 max-width: 600px;
 justify-content: center;
 margin: 0 auto;
 padding: 1rem;
}

.donate-p {
 font-family: 'Monsterrat';
 max-width: 600px;
 justify-content: center;
 margin: 0 auto;
 padding: 1rem;
}

.donationlistwrapper {
    font-family: 'Monsterrat';
    max-width: 600px;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
}

.donationlist {
display: grid;
margin: 0;
grid-template-columns: repeat(4, auto);
}

@media screen and (max-width: 490px) {
    .donationlist {
        grid-template-columns: repeat(3, auto);
        
    }
}

.donationitem, .donationitemb {
    margin: 0.5rem;
    padding: 1rem;
    justify-content: center;
    border: 3px solid rgb(38, 140, 199);
    border-radius: 10px;
    color: rgb(38, 140, 199);
    font-family: Monsterrat;
    font-weight: 900;
    text-align: center;
    align-content: center;
    background-color: #fff;
}

.donationitemselected {
    margin: 0.5rem;
    padding: 1rem;
    justify-content: center;
    border: 3px solid rgb(38, 140, 199);
    border-radius: 10px;
    color: #fff;
    font-family: Monsterrat;
    font-weight: 900;
    text-align: center;
    align-content: center;
    background-color: rgb(38, 140, 199);
}
.donationitemb {
    
    justify-content: center;
    display: flex;
    
}

.itemlink {
    font-size: 14pt;
    color: rgb(38, 140, 199);
    justify-content: center;
    text-align: center;
    width: 100%;
    
}

.price {
    font-size: 12pt;
   padding: 0;
}