.container {
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 100%;
    top:0;
    overflow: hidden;
    min-height: 100vh;
    justify-content: center;

}

h1 {
    color: rgb(0, 0, 0);
    display: block;
    font-family: 'Monsterrat';
}

.mbsize {
    width: 100%;
    height: auto;
    object-fit: cover;
    image-rendering: optimizeQuality;
    max-height: 560px;
    min-height: 400px;
    
}

h2 {
    font-family:'Gill Sans';
    padding: 2rem;
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    align-items: center;
}

.panel1 {
    font-family: 'Monsterrat';
    max-width: 600px;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
    
}

@media screen and (min-width: 640px) {
    .panel1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        margin: 0rem auto;
    }
}


.homedescription {
    font-family: 'Monsterrat';
    max-width: 600px;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    
    
}

.factscontainer {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    text-align: center;
    font-family: Monsterrat;
    font-size: 10.5pt;
    align-content: center;
}

/* .facts-left {


} */

.facth {
    font-weight: 200;
    font-size: 2rem;
    font-family: Impact;
}
.emph {
    text-decoration: underline;
    text-decoration-thickness: 0.1px;
}

.fact1 {
    background: rgb(47, 61, 117);
    padding: 1rem;
    margin: 0;
    width: 150px;
    height: 150px;
    align-items: center;
    display: flex;
    color: #fff;
    
}

.fact1p {
   
   
    

}

.fact2 {
    background: rgb(54, 52, 105);
    padding: 1rem;
    width: 150px;
    height: 150px;
    align-items: center;
    display: flex;
    color: #fff;
}

.fact2p {
    
  }
  
  