.container {
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 100%;
    top:0;
    overflow: hidden;
    min-height: 100vh;
    

}

h1 {
    color: rgb(0, 0, 0);
    display: block;
    font-family: 'Monsterrat';
}

.mbsize {
    width: 100%;
    height: auto;
    object-fit: cover;
    image-rendering: optimizeQuality;
    max-height: 560px;
    min-height: 400px;
    
}

h2 {
    font-family: "Monsterrat";
    padding-top: 4rem;
    margin: 15px;
    font-weight: 900;
}

.panel1 {
    background: rgb(255, 255, 255);
}



.homedescription {
    margin: 25px;
    padding-bottom: 4rem;
    padding-top: 1rem;
    font-size: 1.2rem;
}